## Data Encoding
 Nominal/OHE Encoding
 Label and Ordinal Encoding
 Target Guided Ordinal Encoding

## Nominal/OHE Encoding
One hot encoding, also known as nominal encoding, is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using one hot encoding as follows:
1 : Red: [1, 0, 0]
2 : Green: [0, 1, 0]
3 : Blue: [0, 0, 1]

In [2]:
import pandas as pd

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
## create a simple dataframe
## create a simple dataframe
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [7]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [8]:
## Create an instance of OneOneHotEncoder
encoder=OneHotEncoder()

In [10]:
## perform fit and then transform
encoder.fit_transform(df[['color']])

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [12]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [14]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [15]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [17]:
## For new data 
encoder.transform([['blue']]).toarray()

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [18]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [21]:
import seaborn as sns 
df1=sns.load_dataset('tips')

In [25]:
df1=df1.head()

In [23]:
df1

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
df1=pd.DataFrame(df1)

In [27]:
df1

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [28]:
encoder1=OneHotEncoder()

In [32]:
encoded1=encoder1.fit_transform(df1[['sex']]).toarray()

In [33]:
encoder_df1=pd.DataFrame(encoded1,columns=encoder1.get_feature_names_out())

In [34]:
encoder_df1

   sex_Female  sex_Male
0         1.0       0.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         1.0       0.0

In [36]:
pd.concat([df1,encoder_df1],axis=1)

   total_bill   tip     sex smoker  day    time  size  sex_Female  sex_Male
0       16.99  1.01  Female     No  Sun  Dinner     2         1.0       0.0
1       10.34  1.66    Male     No  Sun  Dinner     3         0.0       1.0
2       21.01  3.50    Male     No  Sun  Dinner     3         0.0       1.0
3       23.68  3.31    Male     No  Sun  Dinner     2         0.0       1.0
4       24.59  3.61  Female     No  Sun  Dinner     4         1.0       0.0