In [25]:
import pandas as pd

In [4]:
df=pd.read_csv('titanic_data.csv')

In [13]:
## Ans 1
df.head()
df.tail()
df.dtypes
df.columns
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]

In [18]:
df=pd.DataFrame(data={'course_name':course_name,'duration':duration})

In [19]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [22]:
## Ans 1.
print(df[1:2])

        course_name  duration
1  Machine Learning         3

In [ ]:
## Ans 2
## difference b/w iloc and loc is iloc counts the int in the data however the loc counts the indexes in the data

In [26]:
## Ans 3
var1={'num':[3,0,1,2]}

In [27]:
df1=pd.DataFrame(var1)

In [36]:
new_df=df1.reindex([3,2,1,0])

In [37]:
new_df

   num
3    2
2    1
1    0
0    3

In [30]:
df1

   num
0    3
1    0
2    1
3    2

In [38]:
new_df.loc[2]
## by using loc it counted the index no 2

num    1
Name: 2, dtype: int64

In [39]:
new_df.iloc[2]
## by usuing the iloc it counted the no 2 row

num    0
Name: 1, dtype: int64

In [40]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

In [41]:
df2 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [42]:
df2

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.357669  0.725430  0.725073  0.787151  0.834961  0.361567
2  0.710652  0.986460  0.601230  0.684502  0.675652  0.795477
3  0.118366  0.820558  0.520793  0.312493  0.994656  0.127403
4  0.080448  0.340083  0.801831  0.629058  0.435086  0.049493
5  0.528839  0.086853  0.110559  0.833190  0.206004  0.485823
6  0.011494  0.648973  0.868742  0.556398  0.534884  0.818098

In [45]:
df2.mean()

column_1    0.301245
column_2    0.601393
column_3    0.604705
column_4    0.633799
column_5    0.613540
column_6    0.439643
dtype: float64

In [50]:
df2['column_2'].std()

0.3307546424324789

In [58]:
## Ans 5
df2['column_2']=df2['column_2'].astype('str')

In [59]:
df2

   column_1            column_2  column_3  column_4  column_5  column_6
1  0.357669   0.725430313418895  0.725073  0.787151  0.834961  0.361567
2  0.710652  0.9864599876859682  0.601230  0.684502  0.675652  0.795477
3  0.118366  0.8205577355062446  0.520793  0.312493  0.994656  0.127403
4  0.080448   0.340083351749355  0.801831  0.629058  0.435086  0.049493
5  0.528839  0.0868528306384646  0.110559  0.833190  0.206004  0.485823
6  0.011494  0.6489727003212629  0.868742  0.556398  0.534884  0.818098

In [60]:
type(df2['column_2'])

pandas.core.series.Series

In [66]:
df2.loc[df2['column_2'].mean()]

TypeError: Could not convert 0.7254303134188950.98645998768596820.82055773550624460.3400833517493550.08685283063846460.6489727003212629 to numeric

In [ ]:
## Ans 6.
##Window function is a popular technique used to analyze a subset with related values

In [67]:
##Ans 7
import datetime

In [68]:
timestamp=pd.Timestamp(datetime.datetime(2023,2,28))

In [69]:
print("Timestamp: ", timestamp)

Timestamp:  2023-02-28 00:00:00