In [4]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://samarthagarwal:13@Sarthak@cluster0.d89h5yd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

InvalidURI: Username and password must be escaped according to RFC 3986, use urllib.parse.quote_plus

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.3 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://samarthagarwal:samarthagarwal@cluster0.d89h5yd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
client

MongoClient(host=['ac-eq2n2mx-shard-00-00.d89h5yd.mongodb.net:27017', 'ac-eq2n2mx-shard-00-02.d89h5yd.mongodb.net:27017', 'ac-eq2n2mx-shard-00-01.d89h5yd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ud8mv6-shard-0', tls=True)

In [4]:
db = client['pwskills']

In [5]:
coll_create = db['my_record']

In [6]:
data = {'name':'samarth',
        'class':'data science masters',
        'timing':'flexy'
}

In [7]:
coll_create.insert_one(data)

In [8]:
data1={'mail_id':'samarth@kotak',
       'ph_num':78347648326
}

In [9]:
coll_create.insert_one(data1)

In [10]:
data2={"list_course":['data science masters','web dev','java with DSA'],'mentor':['sudhanshu','krish','anurag','hyder']
}

In [11]:
coll_create.insert_one(data2)

In [12]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [13]:
coll_create.insert_many(data3)

In [14]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f83816a09ebc0a9c20f63f'), 'name': 'samarth', 'class': 'data science masters', 'timing': 'flexy'}
{'_id': ObjectId('63f83956a09ebc0a9c20f640'), 'mail_id': 'samarth@kotak', 'ph_num': 78347648326}
{'_id': ObjectId('63f83a13a09ebc0a9c20f641'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'krish', 'anurag', 'hyder']}
{'_id': ObjectId('63f83adba09ebc0a9c20f642'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f83adba09ebc0a9c20f643'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f83adba09ebc0a9c20f644'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f83adba09ebc0a9c20f645'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f83adba09ebc0a9c20f646'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f83adba09ebc0a9c20f647'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f83adba09ebc0a9c20f648'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f83adba09ebc0a9c20f649'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [15]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [16]:
coll_create.insert_many(random_data)

In [17]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f83816a09ebc0a9c20f63f'), 'name': 'samarth', 'class': 'data science masters', 'timing': 'flexy'}
{'_id': ObjectId('63f83956a09ebc0a9c20f640'), 'mail_id': 'samarth@kotak', 'ph_num': 78347648326}
{'_id': ObjectId('63f83a13a09ebc0a9c20f641'), 'list_course': ['data science masters', 'web dev', 'java with DSA'], 'mentor': ['sudhanshu', 'krish', 'anurag', 'hyder']}
{'_id': ObjectId('63f83adba09ebc0a9c20f642'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f83adba09ebc0a9c20f643'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f83adba09ebc0a9c20f644'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f83adba09ebc0a9c20f645'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f83adba09ebc0a9c20f646'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f83adba09ebc0a9c20f647'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f83adba09ebc0a9c20f648'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f83adba09ebc0a9c20f649'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f83adba09ebc0a9c20f64d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [18]:
coll_create.find_one()

{'_id': ObjectId('63f83816a09ebc0a9c20f63f'),
 'name': 'samarth',
 'class': 'data science masters',
 'timing': 'flexy'}

In [20]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [21]:
coll_create.insert_many(list_of_records)

In [22]:
for i in coll_create.find({'companyName':'iNeuron'}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': ObjectId('63f83cd0a09ebc0a9c20f64e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f83cd0a09ebc0a9c20f64f'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f83cd0a09ebc0a9c20f650'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [23]:
for i in coll_create.find({'_id':{'$gte':'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [24]:
coll_create.update_many({'companyName':'iNeuron'},{'$set':{'companyName':'pwskills'}})

## Assignment 17 Feb

In [ ]:
##MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.
## Non releational databases dont store their data in tabular form
## insituation like where data is not present in tabular or structured way then it is adviasable to use mongodb over sql

In [ ]:
##mongo db helps to perform the in and out of the program very easyly and helps to run the data without any installation of heavy softwares and helps to input the variables in easy way

In [26]:
##ANS 3. 
import pymongo

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.3 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [5]:

client = pymongo.MongoClient("mongodb+srv://samarthagarwal:samarthagarwal@cluster0.d89h5yd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
client

MongoClient(host=['ac-eq2n2mx-shard-00-00.d89h5yd.mongodb.net:27017', 'ac-eq2n2mx-shard-00-01.d89h5yd.mongodb.net:27017', 'ac-eq2n2mx-shard-00-02.d89h5yd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-ud8mv6-shard-0', tls=True)

In [8]:
db=client ['LOS']

In [9]:
coll_create= db['loan_data']

In [10]:
client={'name':'samarth','address':'mira road','phone no':546527}

In [11]:
coll_create.insert_one(client)

In [20]:
client2=[{'name':'nikhil','address':'mulund','phone no':85475},
         {'name':'sunny','address':'ghatkoper','phone no':7674}
        ]

In [21]:
coll_create.insert_many(client2)

In [22]:
coll_create.find()

In [23]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8b930f33096fe70f93078'), 'name': 'samarth', 'address': 'mira road', 'phone no': 546527}
{'_id': ObjectId('63f8ba36f33096fe70f93079'), 'name': 'nikhil', 'address': 'mulund', 'phone no': 85475}
{'_id': ObjectId('63f8ba36f33096fe70f9307a'), 'name': 'sunny', 'address': 'ghatkoper', 'phone no': 7674}

In [24]:
for i in coll_create.find_one():
    print(i)

_id
name
address
phone no

In [25]:
##Explain how you can use the find() method to query the MongoDB database. Write a simple code to
##demonstrate this.

## Ans
for i in coll_create.find({'name':'samarth'}):
    print(i)

{'_id': ObjectId('63f8b930f33096fe70f93078'), 'name': 'samarth', 'address': 'mira road', 'phone no': 546527}

In [ ]:
## sorting is done to get data in an ordered manner

In [27]:
loanamount=[{'LA':64646},
            {'LA':3134},
            {'LA':987165}]

In [28]:
coll_create.insert_many(loanamount)

In [29]:
coll_create.find({'LA':{'$gte':'3000'}})

In [36]:
for i in coll_create.find({'_LA':{'$gte':'3000'}}):
    print(i)

In [ ]:
## delete one is used to delete 1st data from the database 
## delete many is used the delete multiple data table from mongodb
## drop is used to delete the entire the database from the DB