In [ ]:
## Ans 1. a database is an organised collection of structured data of info.strored in an system
## Sql is structured query language where data is present in more structured way in rows and columns 
## NOSql not only sql is a data consisting of non structured data like img,audio,txt stored in a system

In [ ]:
Ans 2.

##DDL is data definition language used to define data structures 
## Create is used to create a schema of a table where rows are defined using int ,varchar,date,float,str 
 Create table bank(
    -> name varchar(60),
    -> location varchar(40),
    -> branches int
    -> );
    
##drop is used to delete or remove the data and table from database and cannot be accessed further
drop table bank; if executed will delete the compete table 

##alter is used to add any rows , unique key ,foreign key to the existing rows by using alter table and add comand
    
##Truncate is used to delete the data from the table by not completely deleteing the schema of the table and only the data inside the table 
Truncate table bank;

In [ ]:
## Ans 3. data manupulation language is used to insert , update and delete the data existing or to be added in the table and databases

Insert is used to insert the data ion the table 
like insert into table_name values('columnname1','2','3');

update is used to update the  existing data with some new data via using update table set column name ='new' where columnname='existing' 

## delete is used to delete the data from the table by using from and where clause 
delete from bank
    -> where name='axis';

In [ ]:
Data query language is used to filter the data from table using select query where data to be filtered is called by select query 
Select coulun_name from table name where sales > 10000 ;
here both select basis condition data is selected

In [ ]:
primary key is used where data or column cannot be null and have a unique value which cannot gets repeated and can be identified as a unique identity 
foreign key is used to show relationship b/w primary key and foregn key b/w 2 tables which can be used for co relationb/w them

In [ ]:
## Ans 6. 
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

This method executes the given database operation (query or command).

In [ ]:
##Ans 7.FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
##WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
##GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns