In [15]:
## Ans 1.keyword used is ##def

def odd_num1(a):
    for i in range(0,a+1):
        if i%3!=0:
            return (a)

In [18]:
for i in odd_num1(1):
    print(i)

TypeError: 'int' object is not iterable

In [7]:
odd_num(10)

10

In [20]:
## Ans 2. args and kwargs are used where many arguments are to be entered in the function without defining the value in function.
##Example of args

def exp1(*args):
    return args

exp1('samarth','agarwal',1,1,2,3,4,5)

('samarth', 'agarwal', 1, 1, 2, 3, 4, 5)

In [25]:
## Ans 2 Example 2

def exp2(**kwargs):
    return kwargs

exp2(a=[1,2,3,4],b=['samarth','agarwal'],c=['machine learning',1,2])

{'a': [1, 2, 3, 4],
 'b': ['samarth', 'agarwal'],
 'c': ['machine learning', 1, 2]}

In [39]:
## Ans 3. an iterator an object that contains a countable number of values
## __iter__() and __next__() 

l=[2, 4, 6, 8, 10, 12, 14, 16,18, 20]

def exp3(a):
    n=[]
    for i in a:
        if i%2==0:
            n.append(a)
        return n

In [40]:
exp3(l)

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]]

In [41]:
## Ans 4. a generator function in python is used to give the iterable values one by one when asked to the function in a range

def exp4(a):
    value=0
    while value<a:
        yield value
        value +=1

In [42]:
for value in exp4(7):
    print(value)

0
1
2
3
4
5
6

In [ ]:
## ans 5. NA