In [ ]:
## Ans 1.a tuple is ordered , unchangeble and allow duplicate values.
1. it is not mutable

In [1]:
t=(1,1,23,34,5,5,6)

In [2]:
type(t)

int

In [8]:
t.count(23)

1

In [6]:
t.index(23)

2

Ans 2.tuples have 2 functions namely count and index example above also as teched by sudhanshiu sir true is stored as 1 in tuple and if any value in tuple have true and when count function is used it gives 2 as result
list is mutable , however tuple is not mutable biggest diff.

Ans 3.Set does not allow duplicate items , when the value of set is recalled then it displays only unique values as a result , example of code for removing duplicate list below

In [10]:
s={1,1,2,3,44,44,55,5}

In [11]:
s

{1, 2, 3, 5, 44, 55}

In [13]:
l=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [15]:
s1=set(l)

In [16]:
s1

{1, 2, 3, 4}

In [26]:
s2={1,2,3,4,5}
s3={6,7,8,9,10}

In [22]:
s4=s2.update(s3)

In [23]:
s4

In [24]:
s4

In [25]:
s1

{1, 2, 3, 4}

In [27]:
s5=s2.union(s3)

In [28]:
s5

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Ans 4.union is used to merge 2 sets and update cannot be performed in set

In [32]:
##Ans 5.used to store data values in key:value pairs
##example

d1={'name':'Samarth'}
## dict is ordered

In [34]:
## Ans 6. Nested Dict

d2={'name':{'school name':'OLF','Grade':'A'}}
d2

{'name': {'school name': 'OLF', 'Grade': 'A'}}

In [38]:
## Ans 7 Using setdefault() create a create key named topics in the given dictionary and also add the value of
##the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
##dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

d3={'topics':['python','machine learning','deep learning']}
d3

{'topics': ['python', 'machine learning', 'deep learning']}

In [44]:
## Ans 8. 3 views : Keys, values, and Items

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

dict1.keys()
dict1.values()
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])