In [3]:
age=32
print('my age is:',age)

my age is: 32

print('my age is : {age}')

In [5]:
## fstring
print(f'my age is : {age}')

my age is : 32

In [7]:
## format()
name='samarth'
age =26
print('My name is {} and age is {}' . format(name,age))
work='kotak'
print('My name is {} age {} and work in {}'.format(name,age,work))

My name is samarth and age is 26
My name is samarth age 26 and work in kotak

In [10]:
##place holder
print('My name is {firstname} age {age} and work in {company}'.format(company=work,age=age,firstname=name))

My name is samarth age 26 and work in kotak

In [11]:
degree='BE'
print(f'my age is and i have completed: my degree of with the name of :',(age,degree,name))

my age is and i have completed: my degree of with the name of : (26, 'BE', 'samarth')

In [13]:
print('my age is {age} and i have completed : my {degree} of with name of {name}'.format(age=age,degree=degree,name=name))

my age is 26 and i have completed : my BE of with name of samarth

## Control Flow
### Decision Making Statements

In [20]:
## If statements 
age=16
if age<17:
    print('you are eligible to vote')

you are eligible to vote

In [21]:
input()

 samarth agarwal

'samarth agarwal'

In [22]:
name=input('my name is')

my name is samarth

In [23]:
name

'samarth'

In [24]:
age=int(input('my age is '))

my age is  26

In [25]:
age

26

In [26]:
type(age)

int

In [ ]:
##task
age=int(input('enter your agr'))
age=26

In [31]:
age=30
if age>=18 and age<=45:
    print('you are young blood')

you are young blood

In [37]:
##answer
age=int(input('Enter the age'))
if age>=18 and age<=45:
    print('you are young blood')

Enter the age 27

you are young blood

In [38]:
## If Else Statement
age=int(input('Enter the age'))
if age>=18 and age<=45:
    print('you are young blood')
else:
    print('thankyou your application is rejected')

Enter the age 56

thankyou your application is rejected

In [43]:
## mall -
### product >1000 rs 20% off
##product <= 1000 rs 30% off
mall=int(input('product price'))
if mall>1000 and mall <=1000:
    print('the product price')
else :
    print('the product price')

product price 223

the product price

In [4]:
product_price=int(input('Enter the product price'))
if product_price>1000:
    print('the product price is {} '.format(product_price*0.8))
else:
    print('the product price is {} '.format(product_price*0.7))

Enter the product price 344

the product price is 240.79999999999998

In [5]:
product=int(input('price'))
if product<100:
    print('the price {}'.format(product*0.9))
else:
    print('the price {}'.format(product*0.8))

price 56

the price 50.4

In [16]:
product_price=int(input('Enter the product price'))
if product_price>3000:
    print(f'the product price is {product_price*0.8} ')
elif product_price>2000 and product_price<=3000:
    if product_price==4000:
        print('hum bhi kar lege')
    print(f'the product price is {product_price*0.7}')
else:
    print('the product price is {} '.format(product_price*0.7))

Enter the product price 6000

the product price is 4800.0

In [8]:
## single staments suits
val=int(input('enter the number'))
if (val<1000):print('sab doglapan hai')

enter the number 900

sab doglapan hai

In [17]:
## Loop Statements 

##while loop + e;se if statements
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else: 
    print('its time to retire')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time to retire

In [19]:
## ATM machine with 1000 Rs

total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100

1000
900
800
700
600
500
400
300
200
100

In [ ]:
tt=100
while tt!=0:
    print('daal paisa')
    tt=tt-100

In [ ]:
print(123)

In [1]:
tt=1000
while tt!=0:
    print('daal paisa')
    tt=tt-100

daal paisa
daal paisa
daal paisa
daal paisa
daal paisa
daal paisa
daal paisa
daal paisa
daal paisa
daal paisa

##For Loop

In [2]:
for x in st:
    print(x)

NameError: name 'st' is not defined

In [1]:
fruits_lst=['mango','banana','apple','grapes']

In [3]:
for a in fruits_lst:
    print(a)

mango
banana
apple
grapes

In [10]:
for a in fruits_lst:
    print (a,end='')
    if a=='banana':
        print('i dont like it')

mangobananai dont like it
applegrapes

In [11]:
fruits='mango'
for x in fruits:
    print(x,end='')

mango

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [1]:
print(123)

123

In [11]:
n=7

In [11]:
n=7

for f in range(0,n):
    for k in range(0,f+1):
        print("*",end='')
    print('\r')

*
**
***
****
*****
******
*******

In [4]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [20]:
n=10
for a in range(0,n):
    for b in range(0,a+2):
        print('*',end='')
    print('\r')

**
***
****
*****
******
*******
********
*********
**********
***********

In [13]:
## Break and Continue
fruits_lst=['mango','banana','apple','grapes']
for i in fruits_lst:
    print(i)

mango
banana
apple
grapes

In [17]:
fruits_lst=['mango','banana','apple','grapes']
for i in fruits_lst:
    if i=='apple':
        print('this is mango')
        continue
    print(i)

mango
banana
this is mango
grapes

In [19]:
n=10
for a in range(0,n):
    for b in range(0,a+5):
        print('*',end='')
    print('\r')

*****
******
*******
********
*********
**********
***********
************
*************
**************

In [1]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print('\r')

*
**
***
****
*****
******
*******